BaseMetastase/
splitted_data/
saved_images/
data3/
.ipynb_checkpoints
Aula  - Segmentação de Imagens.ipynb
evaluation/
sample_results.png
model_outputs/
all_slices_data/
preprocessed_data/
all_splitted_data/
BasesSegmentacaoT1-T2/
logs/
teste/
DatasetsZipFiles/
runs/
sampled_slices_data/
slices_data/
U-Net/
sampled_splitted_data/
data/
